@import "tailwindcss";

@theme {
  /* Tus colores personalizados */
  --color-gym-black: #050505;
  --color-gym-blue: #00d4ff;
  --color-gym-dark-blue: #005f73;

  /* Efecto de brillo neón para el cuadro */
  --shadow-neon: 0 0 10px #00d4ff, 0 0 20px #00d4ff;
}

:root {
  background: var(--color-gym-black);
  color: white;
}
